<!DOCTYPE html>
<html lang="en">
<head>
    <title>Gunes Giyim</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Mukta:300,400,700">
    <link rel="stylesheet" href="~/fonts/icomoon/style.css">
    <link rel="stylesheet" href="~/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/magnific-popup.css">
    <link rel="stylesheet" href="~/css/jquery-ui.css">
    <link rel="stylesheet" href="~/css/owl.carousel.min.css">
    <link rel="stylesheet" href="~/css/owl.theme.default.min.css">
    <link rel="stylesheet" href="~/css/aos.css">
    <link rel="stylesheet" href="~/css/card.css">
    <link rel="stylesheet" href="~/css/site.css">

</head>

<body>
    <div class="site-wrap">

        <div class="site-mobile-menu">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-logo">
                    <div class="site-logo">
                        <img style="width:100%;" src="~/images/siteLogo/logo1.png" />
                    </div>

                </div>
                <div class="site-mobile-menu-close">
                    <span class="ion-ios-close js-menu-toggle">
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 384 512" width="15" height="15">
                            <path d="M342.6 150.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L192 210.7 86.6 105.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L146.7 256 41.4 361.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0L192 301.3 297.4 406.6c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L237.3 256 342.6 150.6z" />
                        </svg>
                    </span>
                </div>

            </div>
            <div class="site-mobile-menu-body">
                <ul b-az96eptryc="" class="site-nav-wrap">
                    @if (User.Identity.IsAuthenticated)
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <span class="icon icon-person"> @User.Identity.Name</span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="~/Admin/Index"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 448 512"><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z" /></svg> Admin Paneline Giriş</a></li>
                                <li><a class="dropdown-item" href="~/Account/Logout"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 512 512"><path d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 192 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l210.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128zM160 96c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 32C43 32 0 75 0 128L0 384c0 53 43 96 96 96l64 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l64 0z" /></svg> Çıkış Yap</a></li>
                            </ul>
                        </li>
                    }
                    else
                    {
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Giriş Yap
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown-item" href="~/Account/Login"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 448 512"><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z" /></svg> Giriş Yap</a></li>
                            </ul>
                        </li>
                    }
                    <li class="color-dark"><hr /></li>
                    <li b-az96eptryc=""><a b-az96eptryc="" href="/user/index">ANASAYFA</a></li>
                    <li b-az96eptryc=""><a b-az96eptryc="" href="/user/shop">MAĞAZA</a></li>
                    <li b-az96eptryc=""><a b-az96eptryc="" href="/user/about">HAKKINDA</a></li>
                    <li b-az96eptryc=""><a b-az96eptryc="" href="/user/contact">İLETİŞİM</a></li>
                </ul>
            </div>
        </div>


        <header class="site-navbar" role="banner">
            <div class="">
                <div class="container">
                    <div class="row align-items-center">

                        <div class="col-6 col-md-4 order-2 order-md-1 site-search-icon text-left">
                            <form action="@Url.Action("Search", "User")" method="get" class="site-block-top-search">
                                <span class="icon icon-search2"></span>
                                <input type="text" name="searchTerm" class="form-control border-0" placeholder="Arama">
                            </form>
                        </div>

                        <div class="col-12 mb-3 mb-md-0 col-md-4 order-1 order-md-2 text-center">
                            <div class="site-logo align-items-center text-center">
                                <img style="width:100%;" src="~/images/siteLogo/logo1.png" />
                            </div>
                        </div>

                        <div class="col-6 col-md-4 order-3 order-md-3 text-right">
                            <div class="site-top-icons kapanandiv d-none d-md-block">
                                <ul>
                                    @if (User.Identity.IsAuthenticated)
                                    {
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                <span class="icon icon-person"> @User.Identity.Name</span>
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <li><a class="dropdown-item" href="~/Admin/Index"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 448 512"><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z" /></svg> Admin Paneline Giriş</a></li>
                                                <li><a class="dropdown-item" href="~/Account/Logout"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 512 512"><path d="M502.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-128-128c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L402.7 224 192 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l210.7 0-73.4 73.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l128-128zM160 96c17.7 0 32-14.3 32-32s-14.3-32-32-32L96 32C43 32 0 75 0 128L0 384c0 53 43 96 96 96l64 0c17.7 0 32-14.3 32-32s-14.3-32-32-32l-64 0c-17.7 0-32-14.3-32-32l0-256c0-17.7 14.3-32 32-32l64 0z" /></svg> Çıkış Yap</a></li>
                                            </ul>
                                        </li>
                                    }
                                    else
                                    {
                                        <li class="dropdown">
                                            <a class="dropdown-toggle" href="#" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                                Giriş Yap
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                                <li><a class="dropdown-item" href="~/Account/Login"><svg xmlns="http://www.w3.org/2000/svg" width="15" height="15" viewBox="0 0 448 512"><path d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c16.4 0 29.7-13.3 29.7-29.7C448 383.8 368.2 304 269.7 304H178.3z" /></svg> Giriş Yap</a></li>
                                            </ul>
                                        </li>
                                    }

                                </ul>
                            </div>

                            <div class="site-top-icons">
                                <ul>
                                    <li class="d-inline-block d-md-none ml-md-0">
                                        <a href="#" class="site-menu-toggle js-menu-toggle">
                                            <span class="icon-menu">

                                            </span>
                                        </a>
                                    </li>
                                </ul>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
            <nav class="site-navigation text-right text-md-center" role="navigation">
                <div class="container">
                    <ul class="site-menu js-clone-nav d-none d-md-block">
                        <li><a href="/user/index">ANASAYFA</a></li>
                        <li><a href="/user/shop">MAĞAZA</a></li>
                        <li><a href="/user/about">HAKKINDA</a></li>
                        <li><a href="/user/contact">İLETİŞİM</a></li>
                    </ul>
                </div>
            </nav>
        </header>



        @RenderBody()


        <footer class="site-footer border-top">
            <div class="container">
                <div class="row">
                    <div class="col-lg-6 mb-5 mb-lg-0">
                        <div class="row">
                            <div class="col-md-12">
                                <h3 class="footer-heading mb-4">Navigasyon</h3>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <ul class="list-unstyled">
                                    <li> Online Satış</li>
                                    <li> Özellikler</li>
                                    <li> Alışveriş Sepeti</li>
                                    <li> Mağaza Oluşturucu</li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <ul class="list-unstyled">
                                    <li>Mobil Ticaret</li>
                                    <li>Dropshipping</li>
                                    <li>Web Sitesi Geliştirme</li>
                                </ul>
                            </div>
                            <div class="col-md-6 col-lg-4">
                                <ul class="list-unstyled">
                                    <li>Satış Noktası</li>
                                    <li>Donanım</li>
                                    <li>Yazılım</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">
                        <h3 class="footer-heading mb-4">Firmamız</h3>
                        <a href="~/User/Shop" class="block-6">
                            <img src="~/images/siteLogo/logo1.png" alt="Görsel yeri" class="img-fluid rounded mb-4">
                            <h3 class="font-weight-light  mb-0">Uygun Kıyafetiniz Bulun</h3>
                            @* <p>Promosyon tarihi: 15 - 25 Ocak, 2019</p> *@
                        </a>
                    </div>
                    <div class="col-md-6 col-lg-3">
                        <div class="block-5">
                            <h3 class="footer-heading mb-4">İletişim Bilgileri</h3>
                            <ul class="list-unstyled">
                                @*                              <li class="address">203 Sahte Cad. Dağ Manzarası, San Francisco, California, ABD</li>*@
                                <li class="phone"><a href="tel://05415049903">0541 504 99 03</a></li>
                                <li class="email">
                                    <a href="mailto:erkangunes.3634@gmail.com">erkangunes.3634@gmail.com</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                @* <div class="row pt-5 mt-5 text-center">
                    <div class="col-md-12">
                    <p>
                    <!-- Colorlib'e olan link kaldırılamaz. Şablon CC BY 3.0 lisansı altındadır. -->
                    Telif Hakkı &copy;<script data-cfasync="false" src="/cdn-cgi/scripts/5c5dd728/cloudflare-static/email-decode.min.js"></script><script>document.write(new Date().getFullYear());</script> Tüm hakları saklıdır | Bu şablon <i class="icon-heart" aria-hidden="true"></i> ile <a href="https://colorlib.com" target="_blank" class="text-primary">Colorlib</a> tarafından oluşturulmuştur
                    <!-- Colorlib'e olan link kaldırılamaz. Şablon CC BY 3.0 lisansı altındadır. -->
                    </p>
                    </div>

                </div> *@
            </div>
        </footer>

    </div>

    <script src="~/js/jquery-3.3.1.min.js"></script>
    <script src="~/js/jquery-ui.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.magnific-popup.min.js"></script>
    <script src="~/js/aos.js"></script>
    <script src="~/js/main.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    <script>
        @if (TempData.ContainsKey("Message"))
        {
            <text >
                Swal.fire({
                    icon: 'success',
                    title: 'Mesaj',
                    text: 'Mesajınız başarılı bir şekilde iletilmiştir.',
                    timer: 3000 // 3 saniye sonra kaybolacak
                });
            </text>
            TempData.Remove("Message"); // TempData'yi temizle
        }

        @if (TempData.ContainsKey("ErrorMessage"))
        {
            <text>
                Swal.fire({
                    icon: 'error',
                    title: 'Hata',
                    text: 'Mesaj Gönderilemedi!',
                    timer: 3000 // 3 saniye sonra kaybolacak
                });
            </text>
            TempData.Remove("ErrorMessage"); // TempData'yi temizle
        }
    </script>


    @await RenderSectionAsync("Scripts", required: false)
    <script>
            function filtrele() {
                var categoryId = $("#categoryId").val();
                var minPrice = $("#minFiyat").val();
                var maxPrice = $("#maxFiyat").val();
                var page = $("#pageFiyat").val();

                $.ajax({
                    url: '/User/FilterProducts',
                    type: 'POST',
                    data: { categoryId: categoryId, minPrice: minPrice, maxPrice: maxPrice, page: page },
                    success: function (data) {
                        var deletedDivs = document.querySelectorAll('#deleteddiv');
                        deletedDivs.forEach(function (div) {
                            div.remove();
                        });

                        $('#filtrelenmisUrunler').html(data);

                    },
                    error: function (error) {
                        console.log(error);
                    }
                });
            }
        function filtrele1() {
            // e.preventDefault(); // Sayfa yenilemesini engelle
            var categoryId = $("#categoryId").val();
            var minPrice = $("#minPrice").val();
            var maxPrice = $("#maxPrice").val();
            var page = $("#page").val();
            $.ajax({
                url: '/User/FilterProducts',
                type: "POST",
                data: { categoryId: categoryId, minPrice: minPrice, maxPrice: maxPrice, page: page },
                success: function (data) {
                    $("#yourMainContentContainer").html(data); // Ana içerik container'ına gelen veriyi ekle
                },
                error: function () {
                    alert("Sayfa yüklenirken bir hata oluştu.");
                }

            });
        }

        document.addEventListener("DOMContentLoaded", function () {
            const dropdownToggle = document.querySelector(".dropdown-toggle");

            dropdownToggle.addEventListener("click", function (event) {
                event.preventDefault();
                const dropdownMenu = this.querySelector(".dropdown-menu");
                dropdownMenu.classList.toggle("show");
            });

            window.addEventListener("click", function (event) {
                const dropdowns = document.querySelectorAll(".dropdown-menu");
                dropdowns.forEach(function (dropdown) {
                    if (!dropdown.contains(event.target) && !dropdownToggle.contains(event.target)) {
                        dropdown.classList.remove("show");
                    }
                });
            });
        });



    </script>
</body>

</html>
